<footer>
	<div class="container-fluid bg-dark text-light">
		<div class="row">
			<div class="col p-3 text-center copytright">
				<p>Copyright &copy; {{ .Site.Params.year }}, {{ .Site.Params.name }}<p>
				<p>This portfolio is open source. View the source code <a target="_blank" href="https://github.com/nateinaction/sheilacallaham-portfolio/">here</a>.</p>
			</div>
		</div>
	</div>
</footer>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<!-- Icons -->
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<!-- Sharethis -->
<script defer type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5ab7fe47ce89f00013641926&product=sticky-share-buttons"></script>
</body>
</html>
