<footer>
	<div class="container-fluid bg-dark text-light">
		<div class="row">
			<div class="col p-3 text-center copytright">
				<p>Copyright &copy; {{ .Site.Params.year }}, {{ .Site.Params.name }}<p>
				<p>This portfolio is open source. View the source code <a target="_blank" href="https://github.com/nateinaction/sheilacallaham-portfolio/">here</a>.</p>
			</div>
		</div>
	</div>
</footer>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<!-- Icons -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Sharethis -->
<script defer type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5ab7fe47ce89f00013641926&product=sticky-share-buttons"></script>
</body>
</html>
