<div id="home" class="section bg-dark header container-fluid">
	<div class="row">
		<div class="col text-center">
			<img src="{{ .Site.BaseURL }}images/avatar.jpg" class="profile-image rounded-circle">
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<img src="{{ .Site.BaseURL }}images/logo.svg" class="logo">
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<h4 class="description text-light">{{ .Site.Params.description }}</h4>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col">
			<div class="btn-toolbar header-buttons justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
				{{ range .Site.Params.header.buttons }}
                    <a href="{{ .url }}"  class="btn btn-secondary" role="button" target="_blank">
                    	<i class="{{ .icon }}"></i> {{ .title }}
                    </a>
                {{ end }}
			</div>
		</div>
	</div>
</div>
